<h1>Attach files to ticket</h1>

<%= render "form", ticket: @ticket %>

<br>

<div>
  <%= link_to "Show this ticket", project_ticket_path(id: @ticket.id, project_id: @ticket.project_id) %> |
  <%= link_to "Back to tickets", project_tickets_path %>
</div>
