<h1>Tickets</h1>
<%= link_to "New ticket", new_project_ticket_path(project_id: @project.id) %>

<div id="tickets">
  <% @tickets.each do |ticket| %>
    <%= render ticket %>

    <% # TODO %>
    <%#= link_to "attach",  %>

    <% # TODO %>
    <%# Checkbox for status %>

    <p>
      <%= link_to "Show this ticket", project_ticket_path(project_id: @project.id, id: ticket.id) %>
    </p>
  <% end %>
</div>


