<%= render @ticket %>

<div>
  <%= link_to "Edit this ticket", edit_project_ticket_path(project_id: @ticket.project_id) %> |
  <%= link_to "Back to tickets", project_tickets_path %>

  <%= button_to "Destroy this ticket", project_ticket_path(project_id: @ticket.project.id, id: @ticket.id), method: :delete %>
</div>
