<%= form_with url: project_invite_form_url, local: true, method: :post do %>
<div>
   <%= label_tag "email" %><br />
   <%= email_field_tag "email", nil %>
 </div>
 <%= submit_tag "Send invitaion" %>
<% end %>