<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= @user.email %> has shared <%= @project.project_name %> with you!</p>

    --------------------------
    
    <p>Poject link: \projects\<%= @project.project_name %></p>

</body>
</html>