<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= @current_user.email %> has shared <%= @project.project_name %> with you!</p>

    --------------------------
    
    <p>Poject link: https://ticketng-system.herokuapp.com/projects/<%= @project.id %>/tickets</p>
    

</body>
</html>