<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p> 
    This is a reminder that <%= @ticket.title %> ticker has exceeded deadline
    </p>
    <br><br>
    <p>
    This is a preview to the emails to be sent by active job to all users sharing this ticket and having deadline
    </p>
</body>
</html>