/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

    html,body,h1,h2,h3,h4,h5 {
        font-family: "Raleway", sans-serif;
    }
    html,body {
        background-color: #f4f7f8;
    }
    .btn-del-pr {
      float: right;
    }
    a {
      text-decoration: none;
    }
    .w3-bar-block {
      background-color: #e9eef0;
    }
    .b1 {
        height: 23%;
    }
    .b2 {
        height: 100%;
    }
    #projects a {
        height: 70px;
    }
    .ticket-card {
        margin:1%;
        background-color:#f2f5f2;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        width: 30%;
        height: 240px auto;
        padding-top: 1% !important;
        padding-bottom: 2% !important;
        text-align: left !important;
        white-space: normal;
        overflow-wrap: break-word;
        word-wrap: break-word;
    }
    .image {
      max-width: 100%;
      height: auto;
    }
    .no-wrap {
      width: 90%;
    }
    .msg-empty {
      margin: 20%;
      text-align: center;
      opacity: 0.4;
    }
