<h1>Projects</h1>
<%= link_to "New project", new_project_path %>
<div id="projects">
    <% @@projects = current_user.shared_projects %>
    <% @@projects.each do |project| %>
        <%= render project %>
        <% if project.user_id == current_user.id %>
        owned

        <% # TODO %>
        <%#= link_to "Invite",  %>

        <%= button_to "delete", project, method: :delete %>
        <% end %>
    <% end %>
</div>

<%#= yield :projects %>
